.item-options {
    display: flex;
    flex-direction: column;

    .item-option {
        display: flex;
        justify-content: flex-end;

        &-button {
            margin-top: 0.5rem;
        }
        &-button-container {
            display: flex;
            justify-content: flex-end;
        }
    }
}

.item-title {
    display: flex;
    align-items: center;
    img {
        margin-right: 1rem;
        max-width: 2rem;
        object-fit: fill;
    }
}